<div>

<style>
    .yui-autocomplete {
       width:15em; /* set width here or else widget will expand to fit its container */
       padding-bottom:2em;
   }
</style>

<div class="yui-autocomplete">
    <input id="$w.compound_id" type="text"/>
    <div id="${w.compound_id}:popup"></div>
</div>

${w.datasrc.display()}

<script type="text/javascript">
    var oAC = new YAHOO.widget.AutoComplete("$w.compound_id", "${w.compound_id}:popup", tw2_yui_datasources["$w.datasrc.compound_id"], $w.config);
</script>

</div>
